# Xcode and macOS
.DS_Store
build/
Build/
DerivedData/

# User-specific settings (do not commit)
*.xcuserdatad
xcuserdata/
**/UserInterfaceState.xcuserstate

# Xcode workspace
**/project.xcworkspace/xcshareddata/

# Swift Package Manager
.build/
.swiftpm/

# Signing & Certificates (keep private)
*.cert
*.mobileprovision